* {
    padding: 0;
    margin: 0;
}

#titulo {
    text-align: center;
}

body {
    /* imagem de fundo */
    background-image: url('backgroundGame.png');
    background-size: 100% 1000px;
    background-repeat: no-repeat;
}

.piso01{
    height: 250px;
    width: 300px;
    position: relative;
    left: 800px;
    top: 450px;
}